body {
  background-color: #eee;
  font-family: Verdana, Arial, Serif;
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 10pt;
}

a:hover {
  color: #900020;
}

h1 {
  margin: 50px auto;
  margin-bottom: 10px;
  padding: 0 0 5px 7px;
  border-bottom: solid 1px #ddd;
  width: 600px;
  text-align: left;
  font-size: 90%;
  font-weight: bold;
  color: #ccc;
  text-transform: uppercase;
  text-shadow: #fff 0px 1px 0px;
}

h1 span {
  text-shadow: none;
  color: #eee;
}

div#footer {
  margin: 50px 0;
  font-size: 90%;
  font-weight: normal;
  color: #ccc;
  text-shadow: #fff 0px 1px 0px;
}

div#web {
  clear: both;
  margin: 0px auto;
  width: 600px;
  min-height: 400px;
  border-radius: 3px;
  text-align: left;
  padding: 10px;
}

div#web p, div#web div.suite {
  background-color: #fff;
  border-radius: 2px;
  margin: 0 0 5px 0;
  padding: 0;
}

/* Simple output */
div#web p.simple {
  color: #999;
  text-align: center;
  margin-top: 10px;
  background-color: #eee;
}

/* Suite */
div#web div.suite {
  color: #444;
  border: solid 1px #ddd;
  padding: 5px 5px 5px 15px;
}

div#web div.succ {
  border: solid 1px green;
}

div#web div.fail {
  border: solid 1px #900020;
}

div#web div.suite h2 {
  font-weight: normal;
  font-size: 100%;
  margin: 0 0 10px -10px;
  padding: 0;
}

div#web div.suite a {
  color: #444;
  text-decoration: none;
}

div#web div.suite a:hover {
  text-decoration: underline;
}

/* Test */
div#web div.test {
  margin: 5px 0;
  border-left: solid 3px #ccc;
  padding-left: 5px;
}

div#web div.suite div.succ {
  border: none;
  border-left: solid 3px green;
}

div#web div.suite div.fail {
  border: none;
  border-left: solid 3px #900020;
}

/* Failure */
div#web div.test div.report {
  font-size: 80%;
  padding: 5px;
}

div#web div.test div.report p {
  margin: 0;
  padding: 0;
}

div#web div.test div.report p label {
  display: inline-block;
  font-weight: bold;
  width: 75px;
}

textarea.fixture {
  display: none;
}