body {
  background-color: #eee;
  font-family: Verdana, Arial, Serif;
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 10pt;
}

div#header {
  margin: 50px auto;
  width: 600px;
  text-align: right;
}

div#header h1 {
  float: left;
  margin: 0;
  padding: 10px 0;
  font-size: 90%;
  font-weight: normal;
  color: #666;
  text-transform: uppercase;
}

div#header a {
  color: #666;
  text-decoration: none;
}

div#header a:hover {
  color: #900020;
}

div#header p {
  float: right;
  margin: 0;
  padding: 10px 0;
  font-size: 90%;
  font-weight: normal;
  color: #666;
  text-transform: uppercase;
}

div#footer {
  margin: 50px 0;
  font-size: 90%;
  font-weight: normal;
  color: #ccc;
  text-shadow: #fff 0px 1px 0px;
}

div#web {
  clear: both;
  background-color: #fff;
  margin: 0px auto;
  width: 600px;
  min-height: 400px;
  border-radius: 3px;
  border: solid 1px #999;
  text-align: left;
  padding: 10px;
}

div#web p, div#web div.suite {
  margin: 0 0 5px 0;
  padding: 0;
}

/* Simple output */
div#web p.simple {
  color: #999;
  border: solid 1px #ddd;
  padding: 2px 5px;
  font-size: 80%;
  background-color: #eee;
}

/* Suite */
div#web div.suite {
  color: #444;
  border: solid 1px #ddd;
  padding: 5px 5px 5px 15px;
}

div#web div.succ {
  border: solid 1px green;
}

div#web div.fail {
  border: solid 1px #900020;
}

div#web div.suite h2 {
  font-weight: normal;
  font-size: 100%;
  margin: 0 0 10px -10px;
  padding: 0;
}

div#web div.test {
  margin: 5px 0;
  border-left: solid 3px #ccc;
  padding-left: 5px;
}

div#web div.suite div.succ {
  border: none;
  border-left: solid 3px green;
}

div#web div.suite div.fail {
  border: none;
  border-left: solid 3px #900020;
}

textarea.fixture {
  display: none;
}