body {
  background-color: #fff;
  font-family: Verdana, Arial, Serif;
  margin: 0;
  padding: 0;
  font-size: 10pt;
}

a:hover {
  color: #900020;
}

/* h1 {
  margin: 50px auto;
  margin-bottom: 10px;
  padding: 0 0 5px 7px;
  border-bottom: solid 1px #ddd;
  width: 600px;
  text-align: left;
  font-size: 90%;
  font-weight: bold;
  color: #ccc;
  text-transform: uppercase;
  text-shadow: #fff 0px 1px 0px;
} */

/* h1 span {
  text-shadow: none;
  color: #eee;
}*/

div#groups {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  border-right: solid 1px #C8C9CF;
  width: 200px;
  margin: 0;
  text-align: right;
  background-color: #ECEEF4;
}

div#groups h1 {
  margin: 20px;
  font-weight: normal;
  font-size: 200%;
  padding: 0;
  font-family: Helvetica, Verdana, Arial, Serif;
  color: #53637D;
}

div#groups ul {
  margin: 25px 20px 20px 20px;
  list-style-type: none;
}

div#groups ul li {
  margin: 10px 0;
}

div#groups ul li button {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  font-size: 110%;
  color: #426DC9;
  cursor: pointer;
}

div#suites {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 200px;
  right: 200px;
  overflow: auto;
  box-shadow: 0px 0px 10px #888;
}

div#suites h1 {
  margin: 20px;
  font-weight: normal;
  font-size: 200%;
  padding: 0 0 5px 0;
  font-family: Helvetica, Verdana, Arial, Serif;
  color: #53637D;
  border-bottom: solid 1px #eee;
}

div#log {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 200px;
  border-left: solid 1px #C8C9CF;
  background-color: #ECEEF4;
  overflow: auto;
}

div#log h1 {
  margin: 20px;
  font-weight: normal;
  font-size: 200%;
  padding: 0 0 5px 0;
  font-family: Helvetica, Verdana, Arial, Serif;
  color: #53637D;
}

div#footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 200px;
  height: 50px;
  border-right: solid 1px #C8C9CF;
  margin: 0;
  text-align: right;
}

div#footer p {
  margin: 20px;
  padding: 0;
  font-size: 90%;
  color: #999;
}

div#footer a {
  color: #999;
}

div#web {
  clear: both;
  margin: 0px auto;
  width: 600px;
  min-height: 400px;
  border-radius: 3px;
  text-align: left;
  padding: 10px;
}

div#web p, div#web div.suite {
  background-color: #fff;
  border-radius: 2px;
  margin: 0 0 5px 0;
  padding: 0;
}

/* Simple output */
div#web p.simple {
  color: #999;
  text-align: center;
  margin-top: 10px;
  background-color: #eee;
}

/* Suite */
div#web div.suite {
  color: #444;
  border: solid 1px #ddd;
  padding: 5px 5px 5px 15px;
}

div#web div.succ {
  border: solid 1px green;
}

div#web div.fail {
  border: solid 1px #900020;
}

div#web div.suite h2 {
  font-weight: normal;
  font-size: 100%;
  margin: 0 0 10px -10px;
  padding: 0;
}

/* Test */
div#web div.test {
  margin: 5px 0;
  border-left: solid 3px #ccc;
  padding-left: 5px;
}

div#web div.suite div.succ {
  border: none;
  border-left: solid 3px green;
}

div#web div.suite div.fail {
  border: none;
  border-left: solid 3px #900020;
}

/* Failure */
div#web div.test div.report {
  font-size: 80%;
  padding: 5px;
}

div#web div.test div.report p {
  margin: 0;
  padding: 0;
}

div#web div.test div.report p label {
  display: inline-block;
  font-weight: bold;
  width: 75px;
}

textarea.fixture {
  display: none;
}